<div class="py-20 px-5">
    <p class="text-center text-gray-300 font-bold text-xl">Support Us</p>
    <p class="text-gray-400">
        Welcome to our Support page! Here, you will find information on how you can help support Dunidoro, Classic Toons Streaming and ensure that we can continue to provide high-quality, free streaming of classic animations.

    </p>
    <p class="text-gray-400">
        One way to support us is by making a donation through PayPal, At <span class="text-blue-400">danilokin2@gmail.com</span> (trhough friends and family)
         We rely on donations to cover our operating costs and to fund the acquisition of new content. Any amount, no matter how small, is greatly appreciated and will help keep Classic Toons Streaming running.


    </p>
        
        <p class="text-gray-400">
            Another way to support us is by sharing our website with your friends and family. 
            The more people who know about Classic Toons Streaming, the more successful we will be in our mission to make classic animation accessible to everyone. Share our website on social media, and tell your friends and family about the amazing collection of shows and movies that we have to offer.

        </p>
       
        <p class="text-gray-400">
            Thank you for your support! It is because of our wonderful community that we are able to continue providing free, high-quality streaming of classic animations.
            <br>
            <br>
            If you have any questions or concerns, please do not hesitate to contact us. Our support team will be more than happy to assist you.

        </p>
        
</div>