<mat-toolbar  class="fixed z-40 bg-gray-900">
  <span class="example-spacer"></span>

  <a routerLink="" class="text-[#ee892b] ">Dunidoro</a>
  <div class=" sm:hidden" >
     <button mat-icon-button class=" " (click)="toggleSearchInput()">
      <mat-icon class="text-gray-400">search</mat-icon>
    </button>
  </div>
 
  <app-search [showSearchInput] = "showSearchInput"></app-search>

  <span class="example-spacer"></span>

  <a routerLink="about" class="text-[#8b8989] text-sm px-5 underline decoration-2 hover:decoration-[#ee892b]">About</a>
  <a routerLink="support-us" class="text-[#8b8989] text-sm  px-5 underline decoration-2 hover:decoration-[#ee892b]">Support us?</a>
  
  <span class="example-spacer"></span>


</mat-toolbar>
