<div class="sm:flex sm:items-center hidden">
    <input  type="text" #searchStr
    class="block w-full h-8 ml-5 pl-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <button mat-icon-button (click)="search(searchStr.value)">
        <mat-icon class="text-gray-400">search</mat-icon>
    </button>
</div>
<div *ngIf="showSearchInput" class="flex items-center sm:hidden fixed top-14 right-[10%] left-[10%] bg-gray-700 rounded-full" >
    <input  type="text" [pattern]="pattern" placeholder="Search toon" #searchStr
    class="block w-full h-8 ml-5 pl-2 text-sm text-gray-900  rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <a  mat-icon-button (click)="search(searchStr.value)">
        <mat-icon class="text-gray-400">search</mat-icon>
    </a >
</div>
